API_ID="23817407"
API_HASH="5574221d94a4c5c38d932747aa3c7467"
BOT_TOKEN="8928862817:AAHOgu4o8oh8ymTdHGzBf3iAAHqPOLJphvM"
HELPER_BOT_TOKEN="8908646359:AAFnQl9YM4uX4W6ZYd1z0kK7PaBVDKEckwM"
OWNER_ID="7195822651"
REPLACE_MODE="true"
HIDE_CATALOG="false"
PARALLEL="4"
PRE_FETCH="3"
AUTH_CHANNEL="-1003649391989"
DATABASE="mongodb+srv://nareshkanna:Naresh123@cluster0.vqizqqq.mongodb.net/?appName=Cluster0"
TMDB_API="34a9daea5fdead58bfaac3eeffdf7be7"
BASE_URL="https://telegram-stremio.onrender.com"
PORT="8000"
UPSTREAM_REPO="https://github.com/weebzone/Telegram-Stremio"
UPSTREAM_BRANCH="master"
ADMIN_USERNAME="naresh"
ADMIN_PASSWORD="Naresh@123"
SUBSCRIPTION=False
SUBSCRIPTION_GROUP_ID=
APPROVER_IDS=
SUBSCRIPTION_URL=""
